* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$duckWidth: 150px;
$duckCount: 4;

@keyframes rotate-out-top {
    0% {
        top: random(50)+vh;
    }
    100% {
        left: 50vw;
        top: 100vh;
    }
  }

  @for $i from 1 through $duckCount { //генерируем keyframes для каждой утки
    @keyframes duck-fly-#{$i} {
        0% {
            top: random(85)+vh;
        }
        50% {
            left: random(60)+vw;
            top: random(85)+vh;
        }
        100% {
            left: 100vw;
            top: random(85)+vh;
        }
      }
  }

html {
    cursor: url(img/aim2.svg), pointer; //изменила курсор на прицел
}
body {
    counter-reset: count;
    height: 100vh;
    width: 100vw;
    // background-image: url("background1.jpg");
    // background-repeat: no-repeat;
    // background-size:cover;
    // background-position:bottom;
    position: relative;
    overflow: hidden;
    
}

.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit:fill;
    
}
        

.duck {
    position: absolute;
    left: -$duckWidth;
    &__img {
        width: $duckWidth;
    }
    &__img:hover {
        cursor: url(img/aim2.svg), pointer;
      }
    &-check {
        position: absolute;
        left: -99999px;
        visibility: hidden;
    
        &:checked {
            counter-increment: count;
        }

        &:checked ~ label{
            display: none;
        }
    }

    
    @for $i from 1 through $duckCount {
        &#{$i} {
            animation: duck-fly-#{$i} 10s ease-in #{$i}s /*задержка*/ both;
        }
    }
  }

.counter-info {
    position: absolute;
    top: 24px;
    right: 24px;
    text-align: center;
    &::after {
        content: counter(count);
        padding: 2px 30px;
        background-color: rgb(106, 213, 240);
        border: 1px solid rgb(122, 122, 214);
    }
}


